.header{
    display: flex;
    justify-content: space-around;
    position: relative; 
}
.left{
    display: flex;
    align-items: center;
    gap: 90px;
    position: absolute;
    top: 10px; left: 20px;
}
a[href="#"]{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-right: 20px;
}
.right{
    display: flex;
    gap: 30px;
  justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px; right: 50px;
}
 .main{
   background-color: lightblue !important;
   position: relative;
}   

.content{
    position: absolute;
    top: 100px; left: 50px;

}




/* GREENMIND */

position: absolute;
width: 56px;
height: 15px;
left: 37.35px;
top: 17.12px;

font-family: 'Quella';
font-style: normal;
font-weight: 400;
font-size: 9.33841px;
line-height: 15px;

color: #000000;

